<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Integration Test Suite">
            <directory suffix="Test.php">./tests/</directory>
            <directory suffix="Tests.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="glima.me"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="glimame_capyba_test"/>
        <env name="DB_USERNAME" value="glimame_capyba"/>
        <env name="DB_PASSWORD" value="123mudar@@"/>
    </php>
</phpunit>
